flow6/flows.json
[
    {
        "id": "f04b55fd8b31d7f3",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263e95894888312b",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.4492011&lon=-99.1966973&exclude=hourly,daily&appid=7393c3673bde1d9c268809a3a943f5bd&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "b66068732e1a9d17"
            ]
        ]
    },
    {
        "id": "b66068732e1a9d17",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "a4fc29d3e3cff6ae",
                "a2b55742410e1368",
                "a32bcbaaef772df2"
            ]
        ]
    },
    {
        "id": "1b5b4a80afb8d49f",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "263e95894888312b",
                "c02627df0cab8499"
            ]
        ]
    },
    {
        "id": "a4fc29d3e3cff6ae",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "eebd0be544069452"
            ]
        ]
    },
    {
        "id": "a2b55742410e1368",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "5c52140d008666cf"
            ]
        ]
    },
    {
        "id": "561d89306f7fd535",
        "type": "mqtt in",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b19cfbfb792f6aa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "fb99bec918bae18b"
            ]
        ]
    },
    {
        "id": "fb99bec918bae18b",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "8fd9b67069f64d98",
                "bca37b88ae22b5da",
                "1a899f9d811e7b6b",
                "34a225f95bc41890"
            ]
        ]
    },
    {
        "id": "8fd9b67069f64d98",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "c714a92eed04459a"
            ]
        ]
    },
    {
        "id": "bca37b88ae22b5da",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "0e0cab023d5ab5d5"
            ]
        ]
    },
    {
        "id": "721c7cf4c46249ef",
        "type": "inject",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "0af1ad7a1a079456"
            ]
        ]
    },
    {
        "id": "0af1ad7a1a079456",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Angel, Col. Pensil, CDMX\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqiFlow5\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "289beee62d425e29",
                "ddaddc81120908c4"
            ]
        ]
    },
    {
        "id": "289beee62d425e29",
        "type": "debug",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "ddaddc81120908c4",
        "type": "mqtt out",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "7219cb922c33014d",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f61ea005a736b25",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    },
    {
        "id": "206e6ca4247f2b50",
        "type": "comment",
        "z": "f04b55fd8b31d7f3",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "eebd0be544069452",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#0044b3",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "5c52140d008666cf",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5e5c5a",
            "#04e600",
            "#3a80cb"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "c714a92eed04459a",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0e0cab023d5ab5d5",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a32bcbaaef772df2",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "7459d6db096c4e76"
            ]
        ]
    },
    {
        "id": "7459d6db096c4e76",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "UV",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "7",
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "c02627df0cab8499",
        "type": "http request",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.4492011&lon=-99.1966973&appid=7393c3673bde1d9c268809a3a943f5bd&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "d2a2b99375de16c6"
            ]
        ]
    },
    {
        "id": "d2a2b99375de16c6",
        "type": "json",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "6ca574d63ec4e953"
            ]
        ]
    },
    {
        "id": "6ca574d63ec4e953",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "calidadAire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqiFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 280,
        "wires": [
            [
                "5546b74915dff830"
            ]
        ]
    },
    {
        "id": "5546b74915dff830",
        "type": "ui_gauge",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "4",
        "className": "",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "1a899f9d811e7b6b",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "d9da5802edd710a0"
            ]
        ]
    },
    {
        "id": "34a225f95bc41890",
        "type": "function",
        "z": "f04b55fd8b31d7f3",
        "name": "CalidadAire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "98419d719aec0d24"
            ]
        ]
    },
    {
        "id": "d9da5802edd710a0",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "98419d719aec0d24",
        "type": "ui_chart",
        "z": "f04b55fd8b31d7f3",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "Calidad del Aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G9",
        "broker": "35.157.99.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "755c4fd5c87aab86",
        "type": "ui_group",
        "name": "Personal",
        "tab": "17dcf33741d41f5a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23e233393ff5a984",
        "type": "ui_group",
        "name": "General",
        "tab": "17dcf33741d41f5a",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "17dcf33741d41f5a",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]