flow4/flows.json
[
    {
        "id": "8ae7acfc081f60e2",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fe5b73678a961eb",
        "type": "mqtt in",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "11ff1dad7d04c6bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "f8b8de20ed8b5770",
                "8268bdf7e71af5f5"
            ]
        ]
    },
    {
        "id": "f8b8de20ed8b5770",
        "type": "json",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "200bdf0364a1a374",
                "6fae78e3b2f149b4"
            ]
        ]
    },
    {
        "id": "200bdf0364a1a374",
        "type": "function",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "3ad36a8593eb0493",
                "443413a3da60c1b8"
            ]
        ]
    },
    {
        "id": "8268bdf7e71af5f5",
        "type": "debug",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "6fae78e3b2f149b4",
        "type": "debug",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "3ad36a8593eb0493",
        "type": "debug",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "443413a3da60c1b8",
        "type": "ui_chart",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "group": "616c5232e62fdf55",
        "order": 1,
        "width": "12",
        "height": "12",
        "label": "Grafica del grupo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "606ee7c59131a7b9",
        "type": "inject",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"Angel\",\"temp\":18}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "0a100a5b651c0cd7"
            ]
        ]
    },
    {
        "id": "0a100a5b651c0cd7",
        "type": "mqtt out",
        "z": "8ae7acfc081f60e2",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "11ff1dad7d04c6bf",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "11ff1dad7d04c6bf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.123.49.252",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "616c5232e62fdf55",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "ffd311ca7f281cb6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffd311ca7f281cb6",
        "type": "ui_tab",
        "name": "Flow 4",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]